
nav{
    width: 960px;
    margin: 0 auto;
    padding-bottom: 15px;
}

nav:before{
    content:'';
    display: block;
    height:50px;
    width:100%;
    background: #009D91;
    position: absolute;
    left:0;
    z-index: -1;
}

ul{
    margin: 0;
    padding:0;
    list-style:none;
    height: 50px;
}
ul li{
    float:left;
}

ul li a{
    color:#000000;
    display:block;
    height:50px;
    padding:0 30px;
    text-decoration:none;
    line-height:50px;
}
 ul li a:hover{
     background:rgb(255, 232, 25);
     cursor: pointer;
 }
.sidebar-wrapper, .content, footer{
    box-sizing: border-box;
    
}
.row{
   overflow:hidden;
 
}
/*.sidebar-wrapper, .content{
    min-height: 90%;
}*/

.content{
    
    width: 1000px;
    margin-right: 10px;
    background: #c8eaf5;
    font-family: Arial;
    text-decoration: none;
    float: left;

}
footer{
    
    height: 150px;
    background: #ebdc16;
    margin-top: 10px;
}
.sidebar-wrapper{
    position: relative;
    float: center;
    width: 300px;
    display: block;
    clear: both; 
    text-align: right;
    margin-left: 9px;
}
.text{
    position:absolute;
    height: 100%;
    text-align: center;
    width: 100%;
}
.text:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align:middle;
}
h4{
    display:inline-block;
    font-size: 50px;
    color:#000000;

}
.img{
    display:block;
    opacity: 0.3;
    width: 300px;
    height: 300px;
    padding-bottom: 6px;
}
.cta{
    overflow: hidden;
}
.text-zaklik{
    
    /*display:block;*/
    float:left;
    width:50%;
    align-items: left;
}
.cnopka a{ 
  /* display:block;*/
    float: right;
    height: 100px; 
    width: 50%; 
    background: #d36767; 
    color: #000000;
    text-align: center;
    font-weight: bold;
    font-size: 300%; 
    line-height: 100px; 
    font-family: Arial; 
    border-radius: 20px; 
    text-decoration: none;
    align-items: right;
    
}
     .cnopka a:hover{
         background: green;
         cursor: pointer;
      }